<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.core.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zking.core.model.User" >
    <constructor >
      <idArg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="loginpass" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="loginsalt" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userpic" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="realname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inviteuserid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="usertype" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="emailcheck" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phonecheck" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="realnamecheck" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="islock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="registertime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, loginpass, loginsalt, email, phone, userpic, realname, inviteuserid, 
    usertype, emailcheck, phonecheck, realnamecheck, islock, registertime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
    <select id="login" resultType="com.zking.core.model.User" parameterType="com.zking.core.model.User">
      SELECT
      <include refid="Base_Column_List"/>
      from t_user where 1=1
      <if test="username!=null">
        and username=#{username}
      </if>
      <if test="phone!=null">
        and phone=#{phone}
      </if>
      <if test="email!=null">
        and email=#{email}
      </if>
    </select>
  <select id="findPhone" resultType="int">
    select <include refid="Base_Column_List"/>
    from t_user where phone = #{phone}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.core.model.User" >
    insert into t_user (userid, username, loginpass, 
      loginsalt, email, phone, 
      userpic, realname, inviteuserid, 
      usertype, emailcheck, phonecheck, 
      realnamecheck, islock, registertime
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{loginpass,jdbcType=VARCHAR}, 
      #{loginsalt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{userpic,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{inviteuserid,jdbcType=INTEGER}, 
      #{usertype,jdbcType=INTEGER}, #{emailcheck,jdbcType=INTEGER}, #{phonecheck,jdbcType=INTEGER}, 
      #{realnamecheck,jdbcType=INTEGER}, #{islock,jdbcType=INTEGER}, #{registertime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.core.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="loginpass != null" >
        loginpass,
      </if>
      <if test="loginsalt != null" >
        loginsalt,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="userpic != null" >
        userpic,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="inviteuserid != null" >
        inviteuserid,
      </if>
      <if test="usertype != null" >
        usertype,
      </if>
      <if test="emailcheck != null" >
        emailcheck,
      </if>
      <if test="phonecheck != null" >
        phonecheck,
      </if>
      <if test="realnamecheck != null" >
        realnamecheck,
      </if>
      <if test="islock != null" >
        islock,
      </if>
      <if test="registertime != null" >
        registertime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginpass != null" >
        #{loginpass,jdbcType=VARCHAR},
      </if>
      <if test="loginsalt != null" >
        #{loginsalt,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userpic != null" >
        #{userpic,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="inviteuserid != null" >
        #{inviteuserid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="emailcheck != null" >
        #{emailcheck,jdbcType=INTEGER},
      </if>
      <if test="phonecheck != null" >
        #{phonecheck,jdbcType=INTEGER},
      </if>
      <if test="realnamecheck != null" >
        #{realnamecheck,jdbcType=INTEGER},
      </if>
      <if test="islock != null" >
        #{islock,jdbcType=INTEGER},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="register" parameterType="com.zking.core.model.User">
    insert into t_user(username,loginpass,loginsalt,phone)
    value(#{username},#{loginpass},#{loginsalt},#{phone})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.core.model.User" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginpass != null" >
        loginpass = #{loginpass,jdbcType=VARCHAR},
      </if>
      <if test="loginsalt != null" >
        loginsalt = #{loginsalt,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userpic != null" >
        userpic = #{userpic,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="inviteuserid != null" >
        inviteuserid = #{inviteuserid,jdbcType=INTEGER},
      </if>
      <if test="usertype != null" >
        usertype = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="emailcheck != null" >
        emailcheck = #{emailcheck,jdbcType=INTEGER},
      </if>
      <if test="phonecheck != null" >
        phonecheck = #{phonecheck,jdbcType=INTEGER},
      </if>
      <if test="realnamecheck != null" >
        realnamecheck = #{realnamecheck,jdbcType=INTEGER},
      </if>
      <if test="islock != null" >
        islock = #{islock,jdbcType=INTEGER},
      </if>
      <if test="registertime != null" >
        registertime = #{registertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.core.model.User" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      loginpass = #{loginpass,jdbcType=VARCHAR},
      loginsalt = #{loginsalt,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      userpic = #{userpic,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      inviteuserid = #{inviteuserid,jdbcType=INTEGER},
      usertype = #{usertype,jdbcType=INTEGER},
      emailcheck = #{emailcheck,jdbcType=INTEGER},
      phonecheck = #{phonecheck,jdbcType=INTEGER},
      realnamecheck = #{realnamecheck,jdbcType=INTEGER},
      islock = #{islock,jdbcType=INTEGER},
      registertime = #{registertime,jdbcType=TIMESTAMP}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updatePhone" parameterType="com.zking.core.model.User">
    UPDATE t_user set phone=#{phone} where userid=#{userid}
  </update>
  <update id="updateEmail" parameterType="com.zking.core.model.User">
    UPDATE t_user set phone=#{phone} where userid=#{userid}
  </update>
</mapper>